.row {
  margin-top: 50px;
}

h1, p {
  text-align: center;
}

#soundboard {
  padding-bottom: 70px;
}

button {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

button span {
  position: relative;
  top: 100px;
}
